.passwordresetbutton{
    background-color: darkblue;
    color: white;
    height: 50px;
    border:none;
    width:300px;
    margin-left: 10px;
    cursor: pointer;
}
.resetheader{
    margin: 20px;
    color: darkblue;

}
.passwordresetform{
    width:calc(100vw-100px)
}