.forgotpasswordwrapper{
    height: 100vh;
    width:100vw;
background-color: whitesmoke;
display: flex;
align-items: center;
justify-content: center;
}
.forgotpasswordform{
    width:400px;
}
.forgotpasswordsubmit{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:380px;
    margin-left: 10px;
    background-color: darkblue;
    border: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.forgotpasswordtitle{
    color: rgb(45, 45, 141);
    margin-left: 10px;
    margin-bottom: 30px;
}